/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Press+Start+2P&display=swap');
@import url('//db.onlinewebfonts.com/c/7bc71114a54a06cbaf716a3264b70bd6?family=Arcade+Classic');
body {
    /* font-family: 'Press Start 2P', cursive; */
    font-family: 'Press Start 2P';
    display: flex;
    justify-content: center;
    align-self: center;
    background: url('../images/galaxy.jpg');
}
p {
    color: #FFF;
}
#game-board {
    height: 900px;
    width: 900px;
    display: flex;
    justify-content: center;
    text-align: center;
    /* background-color: royalblue; */
}

canvas {
    display: none;
    font-family: 'Press Start 2P',
    cursive;
}

.startScreen {
    margin-top: 100px;
    height: 700px;
    width: 700px;
    display: block;
    /* text-align: center; */
    /* display: none; */
    background: url('../images/backgroundMenuEdited.png')
    /* background-color: red; */
}
.startScreen>input {
    margin-top: 20px;
}
.startScreen>.startBtn {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 310px;
    padding: 0;
    /* height: 74px;
    width: 354px; */
}

.instructionsDiv {
    margin-top: 100px;
    /* padding-top: 10px; */
    height: 700px;
    width: 700px;
    display: none;
    /* display: block; */
    background: url('../images/backgroundMenuInstructions.png')
}

.instructionsDiv>p {
    padding-top: 100px;
    margin: 0 100px 0 100px;
    font-size: medium;
    line-height: 3rem;
}

.creditsDiv {
    margin-top: 100px;
    height: 700px;
    width: 700px;
    display: none;
    background: url('../images/backgroundMenuCredits.png')
}

.creditsDiv>p {
    padding-top: 100px;
    margin: 0 100px 0 100px;
    font-size: large;
    line-height: 2rem;
}
.creditsDiv>p>span {
    font-size: 1.7rem;
    font-family: 'Syne Tactile, cursive';
}
.gameOverDiv {
    display: none;
    margin-top: 100px;
    height: 700px;
    width: 700px;
    display: none;
    background: url('../images/backgroundMenuGameOver.png')
}
.gameOverDiv > p {
    margin-top: 200px;
    line-height: 3rem;
}
.difficultyMessage{
    display: block;
}

.buttons {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 104px auto 0 auto;
    height: 64px;
    width: 234px;
}

.instructionsBtn {
     height: 124px;
     width: 494px;
}

.goBackCreditsBtn, .goBackInstructionsBtn,
.mainMenuWhenLost {
    margin: 64px auto 0 auto;
    height: 94px;
    width: 344px;
}
